DB_URI=mongodb://localhost:27017/your-database
PORT=8100
JWT_SECRET=your_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
BOOTSTRAP_ADMIN_EMAIL=admin@local.test
BOOTSTRAP_ADMIN_PASSWORD=admin1234
BOOTSTRAP_READER_EMAIL=reader@local.test
BOOTSTRAP_READER_PASSWORD=reader1234
SLACK_ERROR_WEBHOOK=
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
